{% extends "_layout.html" %}

{% block title %}Developer Week | June 16-17, 2020{% endblock %}

{% block head %}
{%- endblock %}
{% block content %}

<main class="homepage-complete">
  <!-- agregar clase active para mostrar el menu -->
  <div class="nav-side">
    <img class="logo" src="/static/img/event-logo.png" alt="">

    <nav class="nav">
      <img class="close-nav" src="/static/img/close-white.png" alt="">
      <div class="profile-mobile">
        <div class="user" data-ref="#box5" data-modal-open>
          <div class="user-icon">
            <span>NM</span>
          </div>
          <p>Mi perfil</p>
          <img src="/static/img/arrow-rigth.png" alt="">
        </div>
      </div>
      <ul>
        <li>
          <a href="home.html">
            <i class="icon-home"></i>
            <span>Inicio</span>
          </a>
        </li>
        <li>
          <a href="schedule-page.html">
            <i class="icon-calendar"></i>
            <span>Agenda</span>
          </a>
        </li>
        <li>
          <a class="disabled" href="live-page.html">
            <i class="icon-live"></i>
            <span>En vivo</span>
          </a>
        </li>
        <li>
          <a href="featured-page.html">
            <i class="icon-document"></i>
            <span>Destacados</span>
          </a>
        </li>
        <li>
          <a href="community-profile.html">
            <i class="icon-user-group"></i>
            <span>Comunidad</span>
          </a>
        </li>
        <li>
          <a class="active" href="allies-page.html">
            <i class="icon-shout"></i>
            <span>Aliados</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="side-content-home">
    
    <div class="side-header">
      <a id="open-mobile-menu" href="#">Abrir menú</a>
      <div class="logo-mobile">
        <img src="/static/img/event-logo.png" alt="">
      </div>
      <div class="notification">
        <i class="icon-alert">
          <span class="alert-circle"></span>
        </i>
        <i class="icon-user-group"></i>
      </div>
      <div class="user" data-ref="#box5" data-modal-open>
        <div class="user-icon">
          <span>NM</span>
        </div>
        <p>Mi perfil</p>
      </div>
      <div class="g-modal" id="box5">
        <div class="g-modal-large g-modal__profile">
          <div class="schedule-item--title">
            <h3 class="title mt-0 mb-0 c-black">Mi perfil</h3>
          </div>
          <p class="mb-0">Completa tu perfil, para que puedas conectar con los demás participantes del evento</p>
          <form action="" class="mt-40">
            <div class="d-md-flex">
              <div class="g-input g-input--icon mr-md-10 w-100 mb-20">
                <img src="/static/img/user.png" alt="">
                <input type="text" placeholder="Nombre">
              </div>
              <div class="g-input g-input--icon ml-md-10 w-100 mb-20">
                <img src="/static/img/user.png" alt="">
                <input type="text" placeholder="Apellido">
              </div>  
            </div>
            <div class="g-input g-input--icon mb-20">
              <img src="/static/img/email.png" alt="">
              <input type="email" placeholder="Correo electrónico">
            </div>
            <div class="cont-link mt-10 mb-20">
              <div class="g-checkbox">
                <input id="c1" type="checkbox">
                <label for="c1">Compartir mi correo electrónico para que las personas me puedan contactar</label>
              </div>
            </div>
            <div class="g-input g-input--icon mb-20">
              <img src="/static/img/phone.png" alt="">
              <input type="email" placeholder="Número">
            </div>
            <div class="cont-link mt-10 mb-20">
              <div class="g-checkbox">
                <input id="c2" type="checkbox">
                <label for="c2">Compartir mi número de celular para que las personas me puedan contactar</label>
              </div>
            </div>
            <div class="d-md-flex">
              <div class="w-100 mb-20 mr-md-10">
                <div class="g-select g-input--icon w-100">
                  <img src="/static/img/user.png" alt="">
                  <select name="" id="">
                    <option value="" selected>Ingeniería</option>
                    <option value="">--</option>
                    <option value="">--</option>
                  </select>
                </div>
                <span class="label-optional">Campo opcional</span>
              </div>
              <div class="ml-md-10 w-100 mb-20">
                <div class="g-select g-input--icon w-100">
                  <img src="/static/img/user.png" alt="">
                  <select name="" id="">
                    <option value="" selected>Rubro de empresa</option>
                    <option value="">--</option>
                    <option value="">--</option>
                  </select>
                </div>
                <span class="label-optional">Campo opcional</span>
              </div>
            </div>
            <div class="w-100 mb-20">
              <div class="g-input g-input--icon w-100">
                <img src="/static/img/user.png" alt="">
                <input type="text" placeholder="Nombre empresa">
              </div>
              <span class="label-optional">Campo opcional</span>
            </div>
          </form>
          <div class="g-modal__profile-label mt-40">
            <h4 class="subtitle">
              Mis etiquetas
            </h4>
            <p class="mb-0">Esto te ayudará a que las personas puedan buscarte fácilmente, puedes elegir un máximo de 5 etiquetas</p>
            <div class="box-label mt-20">
              <span class="btn-label active">Sostenibilidad</span>
              <span class="btn-label">Tecnología</span>
              <span class="btn-label active">Marketing</span>
              <span class="btn-label">Marketing</span>
              <span class="btn-label">Marketing</span>
              <span class="btn-label active">Desarrollo web</span>
              <span class="btn-label">Marketing</span>
              <span class="btn-label">Marketing</span>
              <a class="ml-10 g-link--gray" href="">Ver todas las etiquetas</a>
            </div>
          </div>
          <div class="g-modal__profile-label mt-40">
            <h4 class="subtitle">
              Mis redes sociales
            </h4>
            <form action="" class="mt-20">  
              <div class="d-md-flex">
                <div class="g-input g-input--icon mr-md-10 w-100 mb-20">
                  <img src="/static/img/linkedin.png" alt="">
                  <input type="text" placeholder="Link de red social">
                </div>
                <div class="g-input g-input--icon ml-md-10 w-100 mb-20">
                  <img src="/static/img/twitter.png" alt="">
                  <input type="text" placeholder="Link de red social">
                </div>  
              </div>
              <div class="d-md-flex">
                <div class="g-input g-input--icon mr-md-10 w-100 mb-20">
                  <img src="/static/img/facebook.png" alt="">
                  <input type="text" placeholder="Link de red social">
                </div>
                <div class="g-input g-input--icon ml-md-10 w-100 mb-20">
                  <input type="text" placeholder="Link de portafolio o  web">
                </div>  
              </div>
            </form>
          </div>

          <div class="g-modal__profile-label mt-40">
            <h4 class="subtitle">
              Acerca de mí
            </h4>
            <div class="g-textarea g-input--icon w-100 mt-20">
              <textarea name="" id="" cols="30" rows="10" placeholder="Escribe aquí una descripción "></textarea>
              <span class="label-optional">Campo opcional</span>
            </div>
          </div>

          <div class="center-flex mt-40">
            <button class="btn-blue">Guardar mis datos</button>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-mobile-slider">
      <ul>
        <li>
          <a href="">
            <i class="icon-calendar"></i>
            <span>Agenda</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-live"></i>
            <span>En vivo</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-document"></i>
            <span>Destacados</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-user-group"></i>
            <span>Comunidad</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-shout"></i>
            <span>Aliados</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="side-box info-schedule-page">
      <div class="side-box-info bk-white w-100">
        <div class="center-auto pt-20">
          <div class="schedule-item--title">
            <h3 class="title mt-0 mb-0 c-black ml-10">Aliados</h3>
          </div>
          <div class="g-premium-sponsors">
            <div>
              <figure data-ref="#box2" data-modal-open="">
                <img src="static/img/sponsor-premium-1.png" alt="IBM">
                <figcaption>
                  <span class="sponsor-data">
                    <span class="sponsor-name">IBM</span>
                    <span class="sponsor-description">International Business Machines Corporations</span>
                  </span>
                </figcaption>
              </figure>
            </div>
            <div class="g-modal" id="box2">
              <div class="g-modal-large g-modal__sponsors">
                <div class="g-modal__sponsors--info pt-20">
                  <img src="static/img/logo-ibm.png" alt="">
                  <div class="ml-30">
                    <p class="title">IBM</p>
                    <p class="mb-0">International Business Machines Corporation</p>
                    <div class="redes">
                      <a href=""><img src="static/img/twitter-black.png" alt=""></a>
                      <a href=""><img src="static/img/facebook-black.png" alt=""></a>
                      <a href=""><img src="static/img/instagram-black.png" alt=""></a>
                      <span>Web: <a class="g-link--blue" href="">www.ibm.com</a></span>
                    </div>
                  </div>
                </div>
                <div class="videoWrapper">
                  <iframe width="560" height="310" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&amp;hd=1" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <div class="g-modal__sponsors--date pt-20">
                  <p><b>Información sobre IBM</b></p>
                  <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
                </div>
              </div>
            </div>
            <div> 
              <figure>
                <img src="static/img/sponsor-premium-1.png" alt="IBM">
                <figcaption>
                  <span class="sponsor-data">
                    <span class="sponsor-name">IBM</span>
                    <span class="sponsor-description">International Business Machines Corporations</span>
                  </span>
                </figcaption>
              </figure>
            </div>
            <div> 
              <figure>
                <img src="static/img/sponsor-premium-1.png" alt="IBM">
                <figcaption>
                  <span class="sponsor-data">
                    <span class="sponsor-name">IBM</span>
                    <span class="sponsor-description">International Business Machines Corporations</span>
                  </span>
                </figcaption>
              </figure>
            </div>
            <div> 
              <figure>
                <img src="static/img/sponsor-premium-1.png" alt="IBM">
                <figcaption>
                  <span class="sponsor-data">
                    <span class="sponsor-name">IBM</span>
                    <span class="sponsor-description">International Business Machines Corporations</span>
                  </span>
                </figcaption>
              </figure>
            </div>
            <div> 
              <figure>
                <img src="static/img/sponsor-premium-1.png" alt="IBM">
                <figcaption>
                  <span class="sponsor-data">
                    <span class="sponsor-name">IBM</span>
                    <span class="sponsor-description">International Business Machines Corporations</span>
                  </span>
                </figcaption>
              </figure>
            </div>
            <div> 
              <figure>
                <img src="static/img/sponsor-premium-1.png" alt="IBM">
                <figcaption>
                  <span class="sponsor-data">
                    <span class="sponsor-name">IBM</span>
                    <span class="sponsor-description">International Business Machines Corporations</span>
                  </span>
                </figcaption>
              </figure>
            </div>
            <div> 
              <figure>
                <img src="static/img/sponsor-premium-1.png" alt="IBM">
                <figcaption>
                  <span class="sponsor-data">
                    <span class="sponsor-name">IBM</span>
                    <span class="sponsor-description">International Business Machines Corporations</span>
                  </span>
                </figcaption>
              </figure>
            </div>
            <div> 
              <figure>
                <img src="static/img/sponsor-premium-1.png" alt="IBM">
                <figcaption>
                  <span class="sponsor-data">
                    <span class="sponsor-name">IBM</span>
                    <span class="sponsor-description">International Business Machines Corporations</span>
                  </span>
                </figcaption>
              </figure>
            </div>
            <div> 
              <figure>
                <img src="static/img/sponsor-premium-1.png" alt="IBM">
                <figcaption>
                  <span class="sponsor-data">
                    <span class="sponsor-name">IBM</span>
                    <span class="sponsor-description">International Business Machines Corporations</span>
                  </span>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="schedule-item--title">
            <h3 class="title mt-40 mb-0 c-black ml-10">Media Partner</h3>
          </div>

          <div class="g-premium-sponsors">
            <div class="g-box-partner">
              <img src="static/img/logo-latina.png" alt="Tekton labs">
            </div>
            <div class="g-box-partner">
              <img src="static/img/logo-latina.png" alt="Tekton labs">
            </div>
            <div class="g-box-partner">
              <img src="static/img/logo-latina.png" alt="Tekton labs">
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <button class="btn-circle btn-float btn-chat">
      <img src="/static/img/chat.png" alt="">
    </button>

  </div>
</main>

{%- endblock %}

{% block scripts %}
{%- endblock %}