{% extends "_layout.html" %}

{% block title %}Developer Week | June 16-17, 2020{% endblock %}

{% block head %}
{%- endblock %}
{% block content %}

<main class="homepage-complete homepage-complete--2">
  {% include 'side-banner.html' %}

  <div class="side-content">
    <div class="payment">
      <div class="arrow-back arrow-back--btn">
        <a href="">
          <img class="mobile" src="/static/img/arrow-left-white.png" alt="">
          <img class="desktop" src="/static/img/arrow-left.png" alt="">
          <span>Atrás</span>
        </a>
        <button class="btn-blue3 btn-redondo d-none d-md-flex">
          <img src="./static/img/wsp.png" alt="">
          <span class="ml-10">Ayuda</span>
        </button>
      </div>
      <div class="box-payment">
        <div class="steps">
          <div class="step-item check">
            <div class="circle">
              <img src="/static/img/check-white.png" alt="">
            </div>
            <p>Factura</p>
          </div>
          <div class="step-item active">
            <div class="circle">
              <span>2</span>
            </div>
            <p>Pago</p>
          </div>
        </div>
        <div class="options-payment">
          <div class="options-payment--1">
            <p>Tarjeta de débito o crédito</p>
            <img src="./static/img/cards.png" alt="">
          </div>
          <div class="options-payment--2 active">
            <img src="./static/img/pagoefectivo.png" alt="">
          </div>
        </div>
        <div class="d-flex align-items-center flex-direction-column pt-60 text-align-center">
          <img src="./static/img/loading.png" alt="">
          <p class="fz-20 c-blue pt-60"><strong>Te estamos redirigiendo a la pagina de:</strong></p>
          <img class="pt-20" src="./static/img/pagoefectivo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</main>

{%- endblock %}

{% block scripts %}
{%- endblock %}