{% extends "_layout.html" %}

{% block title %}Developer Week | June 16-17, 2020{% endblock %}

{% block head %}
{%- endblock %}
{% block content %}

<main class="homepage-complete">
  {% include 'side-banner.html' %}

  <div class="side-content">
    <div class="register">
      <div class="arrow-back arrow-back--btn">
        <a href="">
          <img class="mobile" src="/static/img/arrow-left-white.png" alt="">
          <img class="desktop" src="/static/img/arrow-left.png" alt="">
          <span>Atras</span>
        </a>
        <button class="btn-blue btn-redondo d-none d-md-flex">
          <img src="./static/img/wsp.png" alt="">
          <span>Ayuda</span>
        </button>
      </div>
      <div class="w-80">
        <h2 class="g-title">Contáctanos</h2>
        <p>Gracias por ponerte en contacto con nosotros, por favor ingresa los datos solicitados y nos estaremos poniendo en contacto muy pronto</p>
      </div>
      <form action="">
        <div class="g-input g-input--icon">
          <img src="/static/img/user.png" alt="">
          <input type="text" placeholder="Nombre de contacto">
        </div>
        <div class="g-input g-input--icon">
          <img src="/static/img/user.png" alt="">
          <input type="text" placeholder="Empresa">
        </div>
        <div class="g-input g-input--icon">
          <img src="/static/img/email.png" alt="">
          <input type="email" placeholder="Correo electrónico">
        </div>
        <div class="g-input g-input--icon">
          <img src="/static/img/phone.png" alt="">
          <input type="number" placeholder="Número de contacto">
        </div>
        <div class="mt-20">
          <p class="text-color">Número de entradas que desea adquirir</p>
          <div class="g-input">
            <input type="number" placeholder="Número de contacto">
          </div>
        </div>
        <div>
          <p class="text-color">Déjanos un mensaje</p>
          <div class="g-textarea g-input--icon w-100 mt-20">
            <textarea name="" id="" cols="10" rows="5" placeholder="Escribe aquí (opcional)"></textarea>
          </div>
        </div>
        <div class="section-btn">
          <button class="main-action w-180 center-margin" data-ref="#box4" data-modal-open>Enviar</button>
        </div>
      </form>
    </div>
  </div>
</main>

{%- endblock %}

{% block scripts %}
{%- endblock %}