{% extends "_layout.html" %}

{% block title %}Developer Week | June 16-17, 2020{% endblock %}

{% block head %}
{%- endblock %}
{% block content %}

<main class="homepage-complete">
  {% include 'side-banner.html' %}

  <div class="side-content">
    <div class="create-password">
      <div class="arrow-back">
        <a href="">
          <img class="mobile" src="/static/img/arrow-left-white.png" alt="">
          <img class="desktop" src="/static/img/arrow-left.png" alt="">
          <span>Atras</span>
        </a>
      </div>
      <h2 class="g-title">Crear nueva contraseña</h2>
      <p>Ingresa tu nueva contraseña para acceder al evento</p>
      <form action="">
        <div class="g-input g-input--icon">
          <img src="/static/img/password.png" alt="">
          <input type="password" placeholder="Correo electrónico">
        </div>
        <div class="g-input g-input--icon">
          <img src="/static/img/password.png" alt="">
          <input type="password" placeholder="Correo electrónico">
        </div>
        <div class="section-btn">
          <button class="main-action w-100">Crear contraseña</button>
        </div>
      </form>
    </div>
  </div>
</main>

{%- endblock %}

{% block scripts %}
{%- endblock %}