{% extends "_layout.html" %}

{% block title %}Developer Week | June 16-17, 2020{% endblock %}

{% block head %}
{%- endblock %}
{% block content %}

<main class="homepage-complete">
  <div class="nav-side active">
    <img class="logo" src="/static/img/event-logo.png" alt="">

    <nav class="nav">
      <img class="close-nav" src="static/img/close.png" alt="">
      <div class="profile-mobile">
        <div class="user">
          <div class="user-icon">
            <span>NM</span>
          </div>
          <p>Mi perfil</p>
        </div>
      </div>
      <ul>
        <li>
          <a class="active" href="">
            <i class="icon-home"></i>
            <span>Inicio</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-calendar"></i>
            <span>Agenda</span>
          </a>
        </li>
        <li>
          <a class="disabled" href="">
            <i class="icon-live"></i>
            <span>En vivo</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-document"></i>
            <span>Destacados</span>
          </a>
        </li>
        <li>
          <a class="disabled" href="">
            <i class="icon-user-group"></i>
            <span>Comunidad</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-shout"></i>
            <span>Aliados</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="side-content-home">
    <div class="side-header">
      <a id="open-mobile-menu" href="#">Abrir menú</a>
      <div class="logo-mobile">
        <img src="/static/img/event-logo.png" alt="">
      </div>
      <div class="notification">
        <i class="icon-alert"></i>
        <i class="icon-user-group"></i>
      </div>
      <div class="user">
        <div class="user-icon">
          <span>NM</span>
        </div>
        <p>Mi perfil</p>
      </div>
    </div>

    <div class="side-box">
      <div class="side-box-info">
        <div class="bk-white initial p-20 mb-10">
          <h3 class="title">Hola,</h3>
          <p>Estamos a 2 días de que inicie el <b>DeveloperWeek 2020</b>, el evento más grande que reune a los mejores Ingenieros y Desarrolladores del mundo.</p>
          <div class="d-md-flex align-items-center justify-content-between">
            <p><b>¡No te olvides de compartirnos en tus redes sociales!</b></p>
            <button class="btn-lineal">
              <i class="icon-share"></i>
              <span>Compartir</span>
            </button>
          </div>
        </div>
        <div class="bk-white mb-10">
          <div class="panel-redes">
            <p class="mb-0">Redes sociales del evento:</p>
            <div>
              <a href=""><i class="icon-twitter"></i></a>
              <a href=""><i class="icon-facebook"></i></a>
              <a href=""><i class="icon-instagram"></i></a>
            </div>
          </div>
          <div class="panel-banner">
            <img class="panel-banner--bkg" src="/static/img/panel-banner.png" alt="">
            <img class="panel-banner--logo" src="/static/img/event-logo.png" alt="">
          </div>
          <div class="panel-fetch">
            <div class="fetch">
              <i class="icon-calendar"></i>
              <p class="mb-0">16 Junio, 8:00 am al 17 Jun, 1:00pm  </p>
            </div>
            <button class="btn-lineal">
              <i class="icon-add-calendar"></i>
              <span>Agregar al calendario</span>
            </button>
          </div>
          <div class="panel-description">
            <div class="w-100">
              <h3 class="subtitle">Panel de Expertos</h3>
              <p>DeveloperWeek Global 2020 es la conferencia de ingenieros y desarrolladores virtuales más grande del mundo, donde miles de participantes de todo el mundo convergen en línea para más de 100 conferencias magistrales y técnicas, concurso de lanzamiento virtual de tecnología para desarrolladores, premios para desarrolladores, hackathon virtual, exposición virtual y premios por apoyar a la comunidad de desarrolladores .</p>
            </div>
            <img src="/static/img/auspiciadores.png" alt="">
          </div>
          <div class="panel-speakers p-10">
            <h3 class="subtitle p-10">Panel de Expertos</h3>
            <div class="speaker-list">
              <div>
                <figure>
                  <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
                  <figcaption>
                    <span class="name">Jorge Egúsquiza</span>
                    <span class="position">UTEC Ventures Expositor</span>
                    <span class="position">Expositor</span>
                  </figcaption>
                </figure>
              </div>
              <div>
                <figure>
                  <img src="/static/img/speaker2.png" alt="Jorge Egúsquiza">
                  <figcaption>
                    <span class="name">Jorge Egúsquiza</span>
                    <span class="position">UTEC Ventures</span>
                    <span class="position">Expositor</span>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="speaker-list">
              <div>
                <figure>
                  <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
                  <figcaption>
                    <span class="name">Jorge Egúsquiza</span>
                    <span class="position">UTEC Ventures Expositor</span>
                    <span class="position">Expositor</span>
                  </figcaption>
                </figure>
              </div>
              <div>
                <figure>
                  <img src="/static/img/speaker2.png" alt="Jorge Egúsquiza">
                  <figcaption>
                    <span class="name">Jorge Egúsquiza</span>
                    <span class="position">UTEC Ventures</span>
                    <span class="position">Expositor</span>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="speaker-list">
              <div>
                <figure>
                  <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
                  <figcaption>
                    <span class="name">Jorge Egúsquiza</span>
                    <span class="position">UTEC Ventures Expositor</span>
                    <span class="position">Expositor</span>
                  </figcaption>
                </figure>
              </div>
              <div>
                <figure>
                  <img src="/static/img/speaker2.png" alt="Jorge Egúsquiza">
                  <figcaption>
                    <span class="name">Jorge Egúsquiza</span>
                    <span class="position">UTEC Ventures</span>
                    <span class="position">Expositor</span>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="bottom-actions">
              <a class="secondary-action" href="#">Ver más</a>
            </div>
          </div>

          <div class="panel-sponsors p-10">
            <h3 class="subtitle p-10">Aliados</h3>
            <div class="silver-sponsors mt-20">
              <div>
                <img src="static/img/celepsa-logo.png" alt="Tekton labs">
              </div>
              <div>
                <img src="static/img/diners-logo.png" alt="Wayra">
              </div>
              <div>
                <img src="static/img/entel-logo.png" alt="Solven">
              </div>
              <div>
                <img src="static/img/enel-logo.png" alt="Tekton labs">
              </div>
              <div>
                <img src="static/img/intercorp-logo.png" alt="Wayra">
              </div>
              <div>
                <img src="static/img/statkraft-logo.png" alt="Solven">
              </div>
              <div>
                <img src="static/img/tgp-logo.png" alt="Tekton labs">
              </div>
              <div>
                <img src="static/img/poderosa-logo.png" alt="Wayra">
              </div>
              <div>
                <img src="static/img/fenix-logo.png" alt="Solven">
              </div>
              <div>
                <img src="static/img/calera-logo.png" alt="Tekton labs">
              </div>
              <div>
                <img src="static/img/kpmg-logo.png" alt="Wayra">
              </div>
            </div>
          </div>

          <div class="panel-sponsors p-10">
            <h3 class="subtitle p-10">Media Partner</h3>
            <div class="silver-sponsors mt-20">
              <div>
                <img src="static/img/logo-latina.png" alt="Tekton labs">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="side-box-search">
        <div class="box-search">
          <p class="title">Participantes Inscritos (150)</p>
          <div class="g-input-search">
            <input type="text" placeholder="Buscar">
            <i class="icon-search"></i>
          </div>
          <div class="box-search--result">
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
            <div class="item">
              <i class="icon-check"></i>
              <p>Nicole Merino (Tú)</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

{%- endblock %}

{% block scripts %}
{%- endblock %}