{% extends "_layout.html" %}

{% block title %}Developer Week | June 16-17, 2020{% endblock %}

{% block head %}
{%- endblock %}
{% block content %}
{% include 'header.html' %}

<main>
  <section id="hero">
    <h1>Developer Week</h1>
    <p class="tagline">DeveloperWeek Global 2020 es la conferencia de ingenieros y desarrolladores virtuales más grande del mundo</p>
    <ul id="event-facts">
      <li class="event-facts-dates"><time datetime="2020-06-16">16</time> y <time datetime="2020-06-17">17 de Junio</time></li>
      <li class="event-facts-time">08:00 am</li>
      <li class="event-facts-speakers"> 8 expositores</li>
    </ul>
    <div class="bottom-actions">
      <a id="register" class="main-action" href="#">Inscribirme</a>
    </div>
  </section><!-- end of #hero -->
  <section id="description">
    <div class="description-content">
    <p>DeveloperWeek Global 2020 es la conferencia de ingenieros y desarrolladores virtuales más grande del mundo, donde miles de participantes de todo el mundo convergen en línea para más de 100 conferencias magistrales y técnicas, concurso de lanzamiento virtual de tecnología para desarrolladores, premios para desarrolladores, hackathon virtual, exposición virtual y premios por apoyar a la comunidad de desarrolladores.</p>
    </div>
    <img src="/static/img/event-description.png" alt="Developer Week Global 2020">
  </section><!-- end of #description -->
  <section id="speakers">
    <h2 class="section-title">Panel de expertos</h2>
    <ul class="featured-speakers speaker-list">
      <li>
        <figure>
          <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
          <figcaption>
            <span class="name">Jorge Egúsquiza</span>
            <span class="position">UTEC Ventures | Expositor</span>
          </figcaption>
      </figure>
      </li>
      <li>
        <figure>
          <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
          <figcaption>
            <span class="name">Jorge Egúsquiza</span>
            <span class="position">UTEC Ventures | Expositor</span>
          </figcaption>
      </figure>

      </li>
      <li>
        <figure>
          <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
          <figcaption>
            <span class="name">Jorge Egúsquiza</span>
            <span class="position">UTEC Ventures | Expositor</span>
          </figcaption>
      </figure>

      </li>
    </ul>
    <ul class="speaker-list">
      <li>
        <figure>
          <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
          <figcaption>
            <span class="name">Jorge Egúsquiza</span>
            <span class="position">UTEC Ventures | Expositor</span>
          </figcaption>
      </figure>

      </li>
      <li>
        <figure>
          <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
          <figcaption>
            <span class="name">Jorge Egúsquiza</span>
            <span class="position">UTEC Ventures | Expositor</span>
          </figcaption>
      </figure>

      </li>
      <li>
        <figure>
          <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
          <figcaption>
            <span class="name">Jorge Egúsquiza</span>
            <span class="position">UTEC Ventures | Expositor</span>
          </figcaption>
      </figure>

      </li>
      <li>
        <figure>
          <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
          <figcaption>
            <span class="name">Jorge Egúsquiza</span>
            <span class="position">UTEC Ventures | Expositor</span>
          </figcaption>
      </figure>

      </li>
      <li>
        <figure>
          <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
          <figcaption>
            <span class="name">Jorge Egúsquiza</span>
            <span class="position">UTEC Ventures | Expositor</span>
          </figcaption>
      </figure>

      </li>
      <li>
        <figure>
          <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
          <figcaption>
            <span class="name">Jorge Egúsquiza</span>
            <span class="position">UTEC Ventures | Expositor</span>
          </figcaption>
      </figure>

      </li>
      <li>
        <figure>
          <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
          <figcaption>
            <span class="name">Jorge Egúsquiza</span>
            <span class="position">UTEC Ventures | Expositor</span>
          </figcaption>
      </figure>

      </li>
      <li>
        <figure>
          <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
          <figcaption>
            <span class="name">Jorge Egúsquiza</span>
            <span class="position">UTEC Ventures | Expositor</span>
          </figcaption>
      </figure>

      </li>      
    </ul>
    <div class="bottom-actions">
      <a class="secondary-action" href="#">Ver más</a>
    </div>
  </section><!-- end of #speakers -->
  <section id="program">
    <h2 class="section-title">Programa</h2>
    <ol>
      <li>
        <figure>
          <img src="/static/img/program-item.png" alt="Tecnologías del 2020">
          <figcaption>
            <h3>Tecnologías del 2020</h3>
            <p class="program-data"><time>09:00 am</time> | Expoitor: Jorge Torres</p>
            <p class="program-description">DeveloperWeek Global 2020 es la conferencia de ingenieros y desarrolladores virtuales más grande del mundo</p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/static/img/program-item.png" alt="Tecnologías del 2020">
          <figcaption>
            <h3>Tecnologías del 2020</h3>
            <p class="program-data"><time>09:00 am</time> | Expoitor: Jorge Torres</p>
            <p class="program-description">DeveloperWeek Global 2020 es la conferencia de ingenieros y desarrolladores virtuales más grande del mundo</p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/static/img/program-item.png" alt="Tecnologías del 2020">
          <figcaption>
            <h3>Tecnologías del 2020</h3>
            <p class="program-data"><time>09:00 am</time> | Expoitor: Jorge Torres</p>
            <p class="program-description">DeveloperWeek Global 2020 es la conferencia de ingenieros y desarrolladores virtuales más grande del mundo</p>
          </figcaption>
        </figure>
      </li>
    </ol>
    <div class="bottom-actions">
      <a href="#" class="secondary-action">Ver más</a>
    </div>
  </section><!-- end of #program -->
  <section id="schedule">
    <h2 class="section-title">Agenda</h2>
    <ol id="schedule-nav">
      <li><a href="#">16 Junio</a></li>
      <li><a href="#">17 Junio</a></li>
      <li><a href="#">18 Junio</a></li>
      <li><a href="#">19 Junio</a></li>
      <li><a href="#">10 Junio</a></li>
    </ol>
    <div class="schedule-day" id="day1">
      <div id="schedule-item-1" class="schedule-item" data-schedule-with="0"><!-- add data attributes for type of event, posiition, time, etc -->
        <h3>Bienvenida a DeveloperWeek 2020</h3>
        <p>08:00 AM - 08:30 AM | Presentador <strong>Lucca Rocci</strong></p>
      </div>
      <div id="schedule-item-2" class="schedule-item" data-schedule-with="1">
        <h3>Tecnología del 2020 2020</h3>
        <p>Charla | 09:00 AM - 10:00 AM | Expositor <strong>Javier Egúsquiza</strong></p>
      </div>
      <div id="schedule-item-3" class="schedule-item" data-schedule-with="1">
        <h3>Robótica del futuro</h3>
        <p>Charla | 09:00 AM - 10:00 AM | Organizador <strong>Angel VAsquez</strong></p><!-- cuales son los roles? Oreganizador, Auspiciador, expositor, presentador... -->
      </div>
    </div><!-- end of .schedule-day -->



  </section><!-- end of #schedule -->
  <section id="sponsors">
    <h2 class="section-title">Aliados Premium</h2>
    <ul class="premium-sponsors">
      <li> <!-- veo diferencias en los diseños??? son un link?-->
        <figure>
          <img src="static/img/sponsor-premium-1.png" alt="IBM">
          <figcaption>
            <span class="sponsor-name">IBM</span>
            <span class="sponsor-description">International Business Machines Corporations</span>
          </figcaption>
        </figure>
      </li>
      <li> 
        <figure>
          <img src="static/img/sponsor-premium-1.png" alt="IBM">
          <figcaption>
            <span class="sponsor-name">IBM</span>
            <span class="sponsor-description">International Business Machines Corporations</span>
          </figcaption>
        </figure>
      </li>
      <li> 
        <figure>
          <img src="static/img/sponsor-premium-1.png" alt="IBM">
          <figcaption>
            <span class="sponsor-name">IBM</span>
            <span class="sponsor-description">International Business Machines Corporations</span>
          </figcaption>
        </figure>
      </li>
      <li> 
        <figure>
          <img src="static/img/sponsor-premium-1.png" alt="IBM">
          <figcaption>
            <span class="sponsor-name">IBM</span>
            <span class="sponsor-description">International Business Machines Corporations</span>
          </figcaption>
        </figure>
      </li>
      <li> 
        <figure>
          <img src="static/img/sponsor-premium-1.png" alt="IBM">
          <figcaption>
            <span class="sponsor-name">IBM</span>
            <span class="sponsor-description">International Business Machines Corporations</span>
          </figcaption>
        </figure>
      </li>
    </ul>
    <h2 class="section-title">Aliados Gold</h2>
    <ul class="gold-sponsors">
      <li>
        <figure>
          <img class="sponsor-background" src="static/img/sponsor-gold-1.png" alt="">
          <figcaption>
            <span class="sponsor-name">BCP</span>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img class="sponsor-background" src="static/img/sponsor-gold-2.png" alt="">
          <figcaption>
            <span class="sponsor-name">Coca Cola</span>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img class="sponsor-background" src="static/img/sponsor-gold-3.png" alt="">
          <figcaption>
            <span class="sponsor-name">Ubuntu</span>
          </figcaption>
        </figure>
      </li>
    </ul>
    <h2 class="section-title">Aliados Silver</h2>
    <ul class="silver-sponsors">
      <li>
        <img src="static/img/sponsor-silver-1.png" alt="Tekton labs">
      </li>
      <li>
        <img src="static/img/sponsor-silver-2.png" alt="Wayra">
      </li>
      <li>
        <img src="static/img/sponsor-silver-3.png" alt="Solven">
      </li>
      <li>
        <img src="static/img/sponsor-silver-4.png" alt="Chazki">
      </li>
    </ul>
  </section><!-- end of #sponsors -->
</main>
<footer id="site-footer">
  Cien Pies Producciones
</footer>
{%- endblock %}

{% block scripts %}
{%- endblock %}