{% extends "_layout.html" %}

{% block title %}Developer Week | June 16-17, 2020{% endblock %}

{% block head %}
{%- endblock %}
{% block content %}

<main class="homepage-complete">
  <!-- agregar clase active para mostrar el menu -->
  <div class="nav-side" id="mobile-nav">
    <img class="logo" src="/static/img/event-logo.png" alt="">

    <nav class="nav">
      <img class="close-nav" src="/static/img/close-white.png" alt="">
      <div class="profile-mobile">
        <div class="user" data-ref="#box5" data-modal-open>
          <div class="user-icon">
            <span>NM</span>
          </div>
          <p>Mi perfil</p>
          <img src="/static/img/arrow-rigth.png" alt="">
        </div>
      </div>
      <ul>
        <li>
          <a href="home.html">
            <i class="icon-home"></i>
            <span>Inicio</span>
          </a>
        </li>
        <li>
          <a href="schedule-page.html">
            <i class="icon-calendar"></i>
            <span>Agenda</span>
          </a>
        </li>
        <li>
          <a class="active" href="">
            <i class="icon-live"></i>
            <span>En vivo</span>
          </a>
        </li>
        <li>
          <a href="featured-page.html">
            <i class="icon-document"></i>
            <span>Destacados</span>
          </a>
        </li>
        <li>
          <a class="disabled" href="community-profile.html">
            <i class="icon-user-group"></i>
            <span>Comunidad</span>
          </a>
        </li>
        <li>
          <a href="allies-page.html">
            <i class="icon-shout"></i>
            <span>Aliados</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="side-content-home">
    <div class="side-header">
      <a id="open-mobile-menu" href="#">Abrir menú</a>
      <div class="logo-mobile">
        <img src="/static/img/event-logo.png" alt="">
      </div>
      <div class="notification">
        <i class="icon-alert">
          <span class="alert-circle"></span>
        </i>
        <i class="icon-user-group"></i>
      </div>
      <div class="user" data-ref="#box5" data-modal-open>
        <div class="user-icon">
          <span>NM</span>
        </div>
        <p>Mi perfil</p>
      </div>
      <div class="g-modal" id="box5">
        <div class="g-modal-large g-modal__profile">
          <div class="schedule-item--title">
            <h3 class="title mt-0 mb-0 c-black">Mi perfil</h3>
          </div>
          <p class="mb-0">Completa tu perfil, para que puedas conectar con los demás participantes del evento</p>
          <form action="" class="mt-40">
            <div class="d-md-flex">
              <div class="g-input g-input--icon mr-md-10 w-100 mb-20">
                <img src="/static/img/user.png" alt="">
                <input type="text" placeholder="Nombre">
              </div>
              <div class="g-input g-input--icon ml-md-10 w-100 mb-20">
                <img src="/static/img/user.png" alt="">
                <input type="text" placeholder="Apellido">
              </div>  
            </div>
            <div class="g-input g-input--icon mb-20">
              <img src="/static/img/email.png" alt="">
              <input type="email" placeholder="Correo electrónico">
            </div>
            <div class="cont-link mt-10 mb-20">
              <div class="g-checkbox">
                <input id="c1" type="checkbox">
                <label for="c1">Compartir mi correo electrónico para que las personas me puedan contactar</label>
              </div>
            </div>
            <div class="g-input g-input--icon mb-20">
              <img src="/static/img/phone.png" alt="">
              <input type="email" placeholder="Número">
            </div>
            <div class="cont-link mt-10 mb-20">
              <div class="g-checkbox">
                <input id="c2" type="checkbox">
                <label for="c2">Compartir mi número de celular para que las personas me puedan contactar</label>
              </div>
            </div>
            <div class="d-md-flex">
              <div class="w-100 mb-20 mr-md-10">
                <div class="g-select g-input--icon w-100">
                  <img src="/static/img/user.png" alt="">
                  <select name="" id="">
                    <option value="" selected>Ingeniería</option>
                    <option value="">--</option>
                    <option value="">--</option>
                  </select>
                </div>
                <span class="label-optional">Campo opcional</span>
              </div>
              <div class="ml-md-10 w-100 mb-20">
                <div class="g-select g-input--icon w-100">
                  <img src="/static/img/user.png" alt="">
                  <select name="" id="">
                    <option value="" selected>Rubro de empresa</option>
                    <option value="">--</option>
                    <option value="">--</option>
                  </select>
                </div>
                <span class="label-optional">Campo opcional</span>
              </div>
            </div>
            <div class="w-100 mb-20">
              <div class="g-input g-input--icon w-100">
                <img src="/static/img/user.png" alt="">
                <input type="text" placeholder="Nombre empresa">
              </div>
              <span class="label-optional">Campo opcional</span>
            </div>
          </form>
          <div class="g-modal__profile-label mt-40">
            <h4 class="subtitle">
              Mis etiquetas
            </h4>
            <p class="mb-0">Esto te ayudará a que las personas puedan buscarte fácilmente, puedes elegir un máximo de 5 etiquetas</p>
            <div class="box-label mt-20">
              <span class="btn-label active">Sostenibilidad</span>
              <span class="btn-label">Tecnología</span>
              <span class="btn-label active">Marketing</span>
              <span class="btn-label">Marketing</span>
              <span class="btn-label">Marketing</span>
              <span class="btn-label active">Desarrollo web</span>
              <span class="btn-label">Marketing</span>
              <span class="btn-label">Marketing</span>
              <a class="ml-10 g-link--gray" href="">Ver todas las etiquetas</a>
            </div>
          </div>
          <div class="g-modal__profile-label mt-40">
            <h4 class="subtitle">
              Mis redes sociales
            </h4>
            <form action="" class="mt-20">  
              <div class="d-md-flex">
                <div class="g-input g-input--icon mr-md-10 w-100 mb-20">
                  <img src="/static/img/linkedin.png" alt="">
                  <input type="text" placeholder="Link de red social">
                </div>
                <div class="g-input g-input--icon ml-md-10 w-100 mb-20">
                  <img src="/static/img/twitter.png" alt="">
                  <input type="text" placeholder="Link de red social">
                </div>  
              </div>
              <div class="d-md-flex">
                <div class="g-input g-input--icon mr-md-10 w-100 mb-20">
                  <img src="/static/img/facebook.png" alt="">
                  <input type="text" placeholder="Link de red social">
                </div>
                <div class="g-input g-input--icon ml-md-10 w-100 mb-20">
                  <input type="text" placeholder="Link de portafolio o  web">
                </div>  
              </div>
            </form>
          </div>

          <div class="g-modal__profile-label mt-40">
            <h4 class="subtitle">
              Acerca de mí
            </h4>
            <div class="g-textarea g-input--icon w-100 mt-20">
              <textarea name="" id="" cols="30" rows="10" placeholder="Escribe aquí una descripción "></textarea>
              <span class="label-optional">Campo opcional</span>
            </div>
          </div>

          <div class="center-flex mt-40">
            <button class="btn-blue">Guardar mis datos</button>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-mobile-slider">
      <ul>
        <li>
          <a href="">
            <i class="icon-calendar"></i>
            <span>Agenda</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-live"></i>
            <span>En vivo</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-document"></i>
            <span>Destacados</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-user-group"></i>
            <span>Comunidad</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-shout"></i>
            <span>Aliados</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="side-box">
      <div class="side-box-info">
        <div class="bk-white g-tab-live mb-10 p-10">
          <div class="g-title--img">
            <div class="g-title--tab">
              <a href="" class="active">En vivo</a>
              <a href="live-talk-page.html">Otras charlas en simultaneo</a>
            </div>
            <img src="/static/img/celepsa-logo.png" alt="">
          </div>
          <!-- el tab mostrara la seccion con la clase active -->
          <div class="item active">
            <div class="videoWrapper">
              <iframe width="560" height="310" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="panel-description mt-20">
              <div class="w-100">
                <h3 class="subtitle">Nuevos Softwares para empresas</h3>
                <p>DeveloperWeek Global 2020 es la conferencia de ingenieros y desarrolladores virtuales más grande del mundo, donde miles de participantes de todo el mundo convergen en línea para más de 100 conferencias magistrales y técnicas, concurso de lanzamiento virtual de tecnología para desarrolladores, concurso de lanzamiento virtual de tecnología para desarrolladores,concurso de lanzamiento virtual de tecnología para desarrolladores.</p>
              </div>
            </div>
            <div class="panel-speakers p-10">
              <h3 class="subtitle p-10">Panel de Expertos</h3>
              <div class="speaker-list speaker-list-grid">
                <div class="g-cursor-pointer speaker-list-grid-item" data-ref="#box1" data-modal-open>
                  <figure>
                    <img src="/static/img/speaker.png" alt="Jorge Egúsquiza">
                    <figcaption>
                      <span class="name">Jorge Egúsquiza</span>
                      <span class="position">UTEC Ventures Expositor</span>
                      <span class="position">Expositor</span>
                    </figcaption>
                  </figure>
                </div>
                <div class="g-modal" id="box1">
                  <div class="g-modal-large g-modal__speakers">
                    <div class="profile-desktop">
                      <img src="/static/img/speakers-profile.png" alt="">
                      <div class="text">
                        <h3 class="mb-0">Jorge A. Egúsquiza Valderrama</h3>
                        <p>Gerente General del Banco central de reserva del Perú</p>
                        <p>Jorge is currently a Vice President of R&D at Samsung. Previously, he was co-founder and VP Engineering of Viv Labs, an artificial intelligence company acquired by Samsung in 2016.</p>
                        <p>Para conocer más sobre Jorge, conoce su portafolio en <a class="g-link--blue" href="">www.jorgeegusquiza.com.pe</a></p>
                        <ul class="redes">
                          <li><a href=""><i class="icon-linkedin"></i></a></li>
                          <li><a href=""><i class="icon-facebook"></i></a></li>
                          <li><a href=""><i class="icon-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="profile-mobile2">
                      <div class="icon">
                        <img src="/static/img/speakers-profile.png" alt="">
                        <div>
                          <h3 class="mb-0">Jorge A. Egúsquiza Valderrama</h3>
                          <p>Gerente General del Banco central de reserva del Perú</p>
                        </div>
                      </div>
                      <div class="text">
                        <p>Jorge is currently a Vice President of R&D at Samsung. Previously, he was co-founder and VP Engineering of Viv Labs, an artificial intelligence company acquired by Samsung in 2016.</p>
                        <p>Para conocer más sobre Jorge, conoce su portafolio en <a class="g-link--blue" href="">www.jorgeegusquiza.com.pe</a></p>
                        <ul class="redes">
                          <li><a href=""><i class="icon-linkedin"></i></a></li>
                          <li><a href=""><i class="icon-facebook"></i></a></li>
                          <li><a href=""><i class="icon-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="calendar">
                      <p>Charlas donde participará el expositor</p>
                      <div class="schedule">
                        <div class="schedule--body">
                          <ol class="schedule--body__nav">
                            <li class="active"><a href="#">16 Junio</a></li>
                            <li><a href="#">17 Junio</a></li>
                          </ol>
                          <div class="schedule--body__day">
                            <div class="schedule-box-1">
                              <div class="schedule-item">
                                <div class="schedule-item--date">
                                  <p class="w-100 mb-0 text-md-center">09:00 AM - 10:00 AM</p>
                                  <div class="w-100 datos">
                                    <span>Charla</span>
                                    <p class="mb-0">Tecnologías del 2020</p>
                                  </div>
                                  <div class="w-100 btn">
                                    <button class="secondary-action--blue">Inscribirme</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="schedule-box-1">
                              <div class="schedule-item">
                                <div class="schedule-item--date">
                                  <p class="w-100 mb-0 text-md-center">09:00 AM - 10:00 AM</p>
                                  <div class="w-100 datos">
                                    <span>Charla</span>
                                    <p class="mb-0">Tecnologías del 2020</p>
                                  </div>
                                  <div class="w-100 btn">
                                    <p class="inscrito"><i class="icon-check"></i><span>Inscrito</span></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="g-cursor-pointer speaker-list-grid-item">
                  <figure>
                    <img src="/static/img/speaker2.png" alt="Jorge Egúsquiza">
                    <figcaption>
                      <span class="name">Jorge Egúsquiza</span>
                      <span class="position">UTEC Ventures</span>
                      <span class="position">Expositor</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="panel-talks p-10">
              <div class="g-box--gray box-talks">
                <img src="/static/img/talks-1.png" alt="">
                <div class="box-talks--detail">
                  <h4 class="title">Tecnología del 2020 en tiempos de Pandemia por el Cornavirus</h4>
                  <span class="tag">Tecnoliigia</span>
                  <div class="box-talks--user">
                    <img src="/static/img/talk-user.png" alt="">
                    <div>
                      <p>Jorge A. Egúsquiza Valderrama</p>
                      <span>Expositor</span>
                    </div>
                    <div class="btn-show">
                      <span>Ver más</span>
                      <i class="icon-arrow-rigth"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="g-box--gray box-talks">
                <img src="/static/img/talks-1.png" alt="">
                <div class="box-talks--detail">
                  <h4 class="title">Robótica del Futuro</h4>
                  <span class="tag">All</span>
                  <div class="box-talks--user">
                    <img src="/static/img/talk-user.png" alt="">
                    <div>
                      <p>Lorena Espejo</p>
                      <span>Expositor</span>
                    </div>
                    <div class="btn-show">
                      <span>Ver más</span>
                      <i class="icon-arrow-rigth"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- agregar clase active en mobile -->
      <div class="side-box-search">
        <div class="box-search box-chat box-chat-nav">
          <!-- agregar clase active para mostrar el contenido del tab -->
          <div class="box-tab">
            <p class="title">Participantes de la charla (60)</p>
            <div class="g-input-search">
              <input type="text" placeholder="Buscar">
              <i class="icon-search"></i>
            </div>
            <div class="list-chat">
              <div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
                <div class="item-chat">
                  <div class="user">
                    <span>JT</span>
                    <span class="circle"></span>
                  </div>
                  <div class="info">
                    <span class="name">Juana Torrez</span>
                    <span class="status">Se ha conectado</span>
                  </div>
                  <span class="time">Hace 5 min</span>
                </div>
              </div>
            </div>
          </div>
          <!-- agregar clase active para mostrar el contenido del tab -->
          <div class="box-tab active">
            <p class="title">Chat del Evento</p>
            <div class="list-chat">
              <div>
                <div class="item-chat item-chat-2">
                  <div class="header">
                    <div class="user">
                      <img src="/static/img/talk-user.png" alt="">
                      <span class="circle"></span>
                    </div>
                    <div class="info info-2">
                      <span class="name">Juana Torrez</span><span class="time">Hace 5 min</span>
                    </div>
                  </div>
                  <div class="text">
                    <p>Gracias <span>@Nicole Merino</span>, si claro con todo gusto.</p>
                    <div class="icons">
                      <i class="icon-emoji"></i>
                      <i class="icon-emoji"></i>
                    </div>
                  </div>
                </div>
                <div class="item-chat item-chat-2">
                  <div class="header">
                    <div class="user">
                      <span>JT</span>
                      <span class="circle"></span>
                    </div>
                    <div class="info info-2">
                      <span class="name">Juana Torrez</span><span class="time">Hace 5 min</span>
                    </div>
                  </div>
                  <div class="text">
                    <p>Gracias <span>@Nicole Merino</span>, si claro con todo gusto.</p>
                    <div class="icons">
                      <i class="icon-emoji"></i>
                      <i class="icon-emoji"></i>
                    </div>
                  </div>
                </div>
                <div class="item-chat item-chat-2">
                  <div class="header">
                    <div class="user">
                      <span>JT</span>
                      <span class="circle"></span>
                    </div>
                    <div class="info info-2">
                      <span class="name">Juana Torrez</span><span class="time">Hace 5 min</span>
                    </div>
                  </div>
                  <div class="text">
                    <p>Gracias <span>@Nicole Merino</span>, si claro con todo gusto.</p>
                    <div class="icons">
                      <i class="icon-emoji"></i>
                      <i class="icon-emoji"></i>
                    </div>
                  </div>
                </div>
                <div class="item-chat item-chat-2 item-chat-3">
                  <div class="header">
                    <div class="info info-2">
                      <span class="name">Tú</span>
                    </div>
                    <div class="user">
                      <span>JT</span>
                      <span class="circle"></span>
                    </div>
                  </div>
                  <div class="text">
                    <div class="icons">
                      <i class="icon-emoji"></i>
                      <i class="icon-emoji"></i>
                    </div>
                    <p>Gracias <span>@Nicole Merino</span>, si claro con todo gusto.</p>
                  </div>
                </div>
                <div class="item-chat item-chat-2">
                  <div class="header">
                    <div class="user">
                      <span>JT</span>
                      <span class="circle"></span>
                    </div>
                    <div class="info info-2">
                      <span class="name">Juana Torrez</span><span class="time">Hace 5 min</span>
                    </div>
                  </div>
                  <div class="text">
                    <p>Gracias <span>@Nicole Merino</span>, si claro con todo gusto.</p>
                    <div class="icons">
                      <i class="icon-emoji"></i>
                      <i class="icon-emoji"></i>
                    </div>
                  </div>
                </div>
                <div class="item-chat item-chat-2">
                  <div class="header">
                    <div class="user">
                      <span>JT</span>
                      <span class="circle"></span>
                    </div>
                    <div class="info info-2">
                      <span class="name">Juana Torrez</span><span class="time">Hace 5 min</span>
                    </div>
                  </div>
                  <div class="text">
                    <p>Gracias <span>@Nicole Merino</span>, si claro con todo gusto.</p>
                    <div class="icons">
                      <i class="icon-emoji"></i>
                      <i class="icon-emoji"></i>
                    </div>
                  </div>
                </div>
                <div class="item-chat item-chat-2">
                  <div class="header">
                    <div class="user">
                      <span>JT</span>
                      <span class="circle"></span>
                    </div>
                    <div class="info info-2">
                      <span class="name">Juana Torrez</span><span class="time">Hace 5 min</span>
                    </div>
                  </div>
                  <div class="text">
                    <p>Gracias <span>@Nicole Merino</span>, si claro con todo gusto.</p>
                    <div class="icons">
                      <i class="icon-emoji"></i>
                      <i class="icon-emoji"></i>
                    </div>
                  </div>
                </div>
                <div class="item-chat item-chat-2 item-chat-3">
                  <div class="header">
                    <div class="info info-2">
                      <span class="name">Tú</span>
                    </div>
                    <div class="user">
                      <span>JT</span>
                      <span class="circle"></span>
                    </div>
                  </div>
                  <div class="text">
                    <div class="icons">
                      <i class="icon-emoji"></i>
                      <i class="icon-emoji"></i>
                    </div>
                    <p>Gracias <span>@Nicole Merino</span>, si claro con todo gusto.</p>
                  </div>
                </div>
              </div>
              <div class="btn-floating">
                <p>Ver más comentarios</p>
              </div>
            </div>
            <div>
              <div class="input-chat">
                <i class="icon-emoji"></i>
                <input placeholder="Escribe un mensaje" type="text">
                <i class="icon-send"></i>
              </div>
            </div>
          </div>
          <div class="nav-chat">
            <!-- agregar clase active para mostrar el estado activo -->
            <div class="item">
              <i class="icon-participantes"></i>
              <span>Participantes</span>
            </div>
            <!-- agregar clase active para mostrar el estado activo -->
            <div class="item active">
              <i class="icon-chat"></i>
              <span>Chat</span>
            </div>
            <!-- agregar clase active para mostrar el estado activo -->
            <div class="item">
              <i class="icon-preguntas"></i>
              <span>Preguntas</span>
            </div>
            <!-- agregar clase active para mostrar el estado activo -->
            <div class="item">
              <i class="icon-encuestas"></i>
              <span>Encuestas</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="btn-circle btn-float btn-chat">
      <img src="/static/img/chat.png" alt="">
    </button>

  </div>
</main>

{%- endblock %}

{% block scripts %}
{%- endblock %}