{% extends "_layout.html" %}

{% block title %}Developer Week | June 16-17, 2020{% endblock %}

{% block head %}
{%- endblock %}
{% block content %}

<main class="homepage-complete">
  {% include 'side-banner.html' %}

  <div class="side-content">
    <div class="login">
      <h2 class="g-title">Iniciar Sesión</h2>
      <p>¿Aún no tienes una cuenta? <a class="g-link--blue" href="">Crear cuenta</a></p>
      <div class="login-redes">
        <p>Ingresa con:</p>
        <div class="cont-btn">
          <button class="btn-google">
            <img src="/static/img/google-white.png" alt="">
            <span>Google</span>
          </button>
          <button class="btn-linkedin">
            <img src="/static/img/linkedin-white.png" alt="">
            <span>Linkedin</span>
          </button>
        </div>
      </div>
      <form action="">
        <div class="g-input g-input--icon">
          <img src="/static/img/email.png" alt="">
          <input type="email" placeholder="Correo electrónico">
        </div>
        <div class="g-input g-input--icon">
          <img src="/static/img/password.png" alt="">
          <input type="password" placeholder="Contraseña">
        </div>
        <div class="cont-link">
          <div class="g-checkbox">
            <input id="c1" type="checkbox">
            <label for="c1">Recordar mi Usuario</label>
          </div>
          <a class="g-link--black" href="">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="section-btn">
          <button class="main-action w-100">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</main>

{%- endblock %}

{% block scripts %}
{%- endblock %}