{% extends "_layout.html" %}

{% block title %}Developer Week | June 16-17, 2020{% endblock %}

{% block head %}
{%- endblock %}
{% block content %}

<main class="homepage-complete">
  <div class="side-banner">
    <img class="logo" src="/static/img/event-logo.png" alt="">
    <div class="box-sponsor">
      <div class="item">
        <div>
          <img src="/static/img/celepsa.png" alt="">
        </div>
        <div>
          <img src="/static/img/diners.png" alt="">
        </div>
      </div>
      <div class="item">
        <div>
          <img src="/static/img/entel.png" alt="">
        </div>
        <div>
          <img src="/static/img/enel.png" alt="">
        </div>
      </div>
      <div class="item">
        <div>
          <img src="/static/img/intercorp.png" alt="">
        </div>
        <div>
          <img src="/static/img/statkraft.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="side-content">
    <div class="validation-code">
      <h2 class="g-title">Codigo de validación</h2>
      <p>Para tu seguridad y la de los demás participantes, ingresa el código que se te envío a tu correo para continuar con el proceso de registro</p>
      <form action="">
        <div class="g-input g-input--icon">
          <img src="/static/img/password.png" alt="">
          <input type="text" placeholder="Código">
        </div>
        <div class="section-btn">
          <button class="main-action w-100">Validar código</button>
        </div>
      </form>
    </div>
  </div>
</main>

{%- endblock %}

{% block scripts %}
{%- endblock %}