{% extends "_layout.html" %}

{% block title %}Developer Week | June 16-17, 2020{% endblock %}

{% block head %}
{%- endblock %}
{% block content %}

<main class="homepage-complete">
  {% include 'side-banner.html' %}

  <div class="side-content">
    <div class="validation-code">
      <h2 class="g-title">Codigo de validación</h2>
      <p>Para tu seguridad y la de los demás participantes, ingresa el código que se te envío a tu correo para continuar con el proceso de registro</p>
      <form action="">
        <div class="g-input g-input--icon">
          <img src="/static/img/password.png" alt="">
          <input type="text" placeholder="Código">
        </div>
        <div class="section-btn">
          <button class="main-action w-100" data-ref="#box3" data-modal-open>Validar código</button>
          
          <div class="g-modal" id="box3">
            <div class="g-modal-small g-modal__alert check">
              <div class="alert-item--title">
                <img src="/static/img/check.png" alt="">
                <h3 class="title">Código validado con éxito</h3>
              </div>
              <button class="main-action mt-20">Ir al Registro</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

{%- endblock %}

{% block scripts %}
{%- endblock %}