* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 27px;
}

/* buttons */

section {
  padding: 20px 0 40px 0;
}

.main-action {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 28px;
  color:white;
  background: #BE3971;  
  border-radius: 10px;
}

.secondary-action {
  color: #BE3971;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid #BE3971;
  padding: 12px 28px;
  border-radius: 10px;
} 

.user-nav .main-action, .user-nav .secondary-action  {
  width: 136px;
  text-align: center;
  padding: 0;
  height: 40px;
  line-height: 40px;
  display: inline-block;
}
.user-nav .secondary-action {
  color: white;
  border-color: white;
}

/* Header & Navigation */

#site-header, #site-header nav {
  background-color: #01123E;
}

#site-header {
  overflow: hidden;
  padding: 20px 50px 20px 50px;
}

#open-mobile-menu {
  display: none;
}

nav {
  float: right;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

.user-nav li {
  margin-left: 15px;
  margin-right: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
}

nav a.selected {
  font-weight: 500;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}

/* Sections general */

.homepage > section .wrapper,
#site-header .wrapper {
  max-width: 925px;
  margin: auto;
}


.section-title {
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  color: #01123E;
  padding-bottom: 16px;  
  /* background-image: url(img/title-decoration.png);
  background-repeat: no-repeat;
  background-position: center bottom;*/
} 

.section-title .underline {
  display: block;
  width: 61px;
  height: 4px;
  margin: 14px auto 0 auto;
  background-color: #BE3971; /*override in style attribute */
}

.bottom-actions {
    text-align: center;
    padding: 40px 0 30px 0;
}

#site-footer {
  padding: 28px 0 35px 0;
  font-size: 14px;
  color: white;
  text-align: center;
  background-color: #01113B;
}

/* #hero */

#hero {
  background-image: url(img/bg-hero.png); 
  background-position: center center;
  color: white;
  text-align: center;
  overflow: hidden;
  padding: 50px 0;
  background-size: cover;
}

#hero h1 {
  margin: 0 auto;
  background-image: url(img/event-logo.png); 
  width: 391px; 
  height: 72px; 
  background-repeat:no-repeat;
  text-indent:-99999em;
  background-size: contain;
}

#hero .tagline {
  width: 556px;
  margin: 40px auto;
}

#event-facts {
  list-style-type: none;
  padding: 0;
  margin: 0 0 35px 0;
  font-size: 14px;
}

#event-facts li {
  display: inline-block;
  margin-left: 50px;
  padding-left: 34px;
  background-image: url(img/hero-icons.png);
  background-repeat: no-repeat;

}

#event-facts li:first-child {
  margin-left: 0;
}

.event-facts-dates {
  background-position: 0 0;
}

.event-facts-time {
  background-position: 0 -31px;
}

.event-facts-speakers {
  background-position: 0 -64px;
}

/* Description */


#description {
  padding: 80px 35px 40px 35px;
  overflow: hidden;
}

.description-content {
  width: 556px;
  float: left;
  color: #3B3B3B;
}

.description-content p:first-child {
  margin-top: 0;
}

#description img {
  float: right;
}

/* Speakers */ 

.speaker-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 35px;
  max-width: 760px;
  margin: 0 auto;
}

#featured-speakers.speaker-list {
  max-width: 840px;
  grid-template-columns: auto auto auto;
  column-gap: 60px;
  margin-bottom: 70px;
}

#featured-speakers.speaker-list li {
  max-width: 242px;
}

#featured-speakers.speaker-list figure {
  width: 242px;
}

.speaker-list figure {
  line-height: 0;
  margin: 0;
  width: 165px;
  margin-bottom: 24px;
}

.speaker-list figure img {
  display: block;
  width: 100%;
}

.speaker-list figcaption {
  line-height: 1.4;
  text-align: center;
  padding: 20px 10px 20px 10px;
  background-color: #01123E;
  color: white;
}

.speaker-list figcaption span {
  display: block;
}

.speaker-list figcaption span.name {
  font-size: 14px;
}

.speaker-list figcaption span.position {
  font-size: 12px;
}

/* Program */

#program {
  background-color: #F9F9F9;
}

#program ol {
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  max-width: 904px;
  list-style-type: none;
}

#program ol figure {
  margin: 0;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#program ol figure img {
  display: block;
}

#program ol figure figcaption {
  font-size: 14px;
  line-height: 25px;
  padding: 20px 20px 20px 20px;
  height: 240px;
  background-color: #fff;
}

#program ol figure h3 {
  margin: 0;
  /* font-size: 20px;
  line-height: 23px; */
  font-size: 17px;
  line-height: 20px;
  color: #000;
  height: 42px;
}

/* Sponsors */

#sponsors {
  background-color: #F9F9F9;
}

#sponsors .section-title {
  padding-top: 60px;
  margin-bottom: 50px;
}

#sponsors figure {
  margin: 0;
  position: relative;
}

#sponsors figure img {
  display: block;
}

#sponsors figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}

#sponsors ul {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  display: grid;
  grid-gap: 10px;
  max-width: 790px;
}

#sponsors .premium-sponsors {
  grid-template-columns: auto auto auto; 
}

#sponsors .premium-sponsors figcaption {
  background: linear-gradient(179.37deg, rgba(0, 0, 0, 0) 24.34%, #000000 85.4%);
}

#sponsors .premium-sponsors figcaption .sponsor-data,
#sponsors .gold-sponsors figcaption .sponsor-data {
  display: block;
  position: absolute;
  padding: 0 15px 20px 15px;
  bottom: 0;
  left: 0;
}

#sponsors .gold-sponsors figcaption .sponsor-data {
  padding: 0 15px 10px 15px;
}


#sponsors .premium-sponsors figcaption .sponsor-name {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  display: block;
}

#sponsors .premium-sponsors figcaption .sponsor-description {
  font-size: 14px;
  line-height: 16px;
  display: block;
}

#sponsors .gold-sponsors {
  grid-template-columns: auto auto auto;
}

#sponsors .gold-sponsors figcaption {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 16.84%, rgba(28, 28, 28, 0.391569) 49.31%, rgba(59, 59, 59, 0) 84.78%);
}

#sponsors .silver-sponsors {
  grid-template-columns: auto auto auto auto;
}

#sponsors .premium-sponsors figure {
  height: 183px;
  max-width: 252px;
}

#sponsors .gold-sponsors figure {
  height: 145px;
}

#sponsors .silver-sponsors figure {
  height: 150px;
}


/* Responsiveness with love */


@media screen and (max-width: 1024px) {
  /* From 0 to 1024 */
  body {
    background-color: yellow;
  }

  .homepage > section .wrapper,
  #site-header .wrapper {
    max-width: 768px;
    margin: auto;
  }

  /* Description */

  #description {
    padding: 35px;
  }

  .description-content {
    width: 358px;
  }

  /* Speakers */

  #featured-speakers.speaker-list {
    column-gap: 27px;
    margin-bottom: 50px;
  }

  .speaker-list {
    grid-template-columns: auto auto auto;
    max-width: 560px;
    column-gap: 35px;
  }

  /* Program */

  #program ol {
    grid-template-columns: auto auto;
    max-width: 596px;
    column-gap: 24px;

  }

  /* Sponsors */

  #sponsors .premium-sponsors, 
  #sponsors .gold-sponsors,
  #sponsors .silver-sponsors {
    grid-template-columns: auto auto;
  }

  #sponsors .silver-sponsors {
    text-align: center;
  }

  #sponsors ul {
    max-width: 520px;
  }

}

/* Dealing with the top Menu */
@media screen and (max-width: 870px) {
  /* From 0 to 1024 */
  #site-header {
    min-height: 81px;
  }

  #site-header nav {
    display: none;
  }

  #open-mobile-menu {
    display: block;
    width: 30px;
    height: 30px;
    background: url(img/menu-icon.png) no-repeat center center;
    text-indent: -99993em;
  }
}

/* Let's go Mobile */

@media screen and (max-width: 767px) {

  body {
    background-color: paleturquoise;
  }

  #site-header {
    padding: 20px;
  }

  /* hero */
  #hero {
    padding: 30px 0 12px 0;
  }

  #hero h1 {
    width: 210px;
    height: 39px;
  }
  
  #hero .tagline {
    font-size: 14px;
    line-height: 21px;
    width: 289px;
    margin: 40px auto;
  }
  
  #event-facts {
    font-size: 12px;
    margin-bottom: 10px;
  }

  #event-facts li {
    padding-left: 30px;
    margin-left: 15px;
  }

  /* Description */

  #description {
    text-align: center;
  }

  .description-content {
    font-size: 14px;
    float: none;
    margin: 0 auto 30px auto;
    text-align: left;
  }

  #description img {
    float: none;
  }

  /* Sponsors */
  
  #speakers .wrapper {
    width: 242px;
  }
  #featured-speakers.speaker-list,
  .speaker-list {
    grid-template-columns: auto;
  }

  .speaker-list figure {
    width: 242px;
  }

  #other-speakers {
    display: none;
  }

  /* Program */

  #program .wrapper {
    width: 285px;
  }

  #program ol {
    grid-template-columns: auto;
  }

  /* Sponsors */

  #sponsors .wrapper {
    width: 255px;
  }

  #sponsors .premium-sponsors, 
  #sponsors .gold-sponsors, 
  #sponsors .silver-sponsors {
    grid-template-columns: auto;
  }
}